body{
    background-color: darkgray;
    border-style: dashed;
    border-width: 0.1px;
    border-color: dimgray;
    
}

li {
    list-style: none;
    background:linear-gradient(to right,rgb(218,0,0),1%,white);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(218, 0, 0);
    margin : 20px 20px 0px -10px;
    border-radius: 10px;
    box-shadow:0px 10px 10px rgb(87, 85, 85);
   

}

h2{
    color: rgb(218, 0, 0);
    margin : 10px 10px 10px 250px;
    font-size: 32px;
   
}

p{
    margin : 10px 10px 10px 250px;
display: block;



}

